{% extends "base.html" %}
{% block content %}

<div class="max-w-5xl border mx-auto p-3 my-5">
    
    <div class="flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-green-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
        </svg>
        <h3 class="text-3xl">Your vote has been added to the chain.</h3>
    </div>  
    <div class="my-3">
        <p class="font-mono">Block Hash: {{ block_hash }}</p>
        <p class="font-mono">Transaction Hash: {{ transaction_hash }}</p>
        <a href='{{ url_for("dashboard.view_transaction", block_hash = block_hash, transaction_hash = transaction_hash) }}' class="text-blue-600 underline">View Transaction</a>
        
    </div>
</div>
{% endblock %}